<div class="container mx-auto bg-slate-900 text-white py-2 px-4 z-10">
  <div class="flex items-center justify-between">
    <h1 class="text-lg font-semibold">New Product</h1>
    <%= link_to "Back", products_path, class: "hover:underline ml-2 text-sm" %>
  </div>
</div>

<div class="flex flex-grow h-screen">
  <nav class="bg-slate-900 text-white w-1/8 md:flex flex-col hidden justify-between p-4 text-center sticky top-0 left-0 h-screen gap-8">
    <%= link_to products_path, class: "block text-2xl text-white hover:underline" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to root_path, class: "block text-2xl text-white hover:underline" do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
  </nav>

  <div class="py-4 px-4">
    <%= render partial: "form", locals: { product: @product } %>
  </div>
</div>
