<div class="container mx-auto mt-8">
  <header class="mb-4">
    <h1 class="text-3xl font-semibold">New Product</h1>
    <%= link_to "Back", products_path, class: "text-blue-500 hover:underline ml-4" %>
  </header>

  <%= render "form" %>
</div>
